@{
    ViewData["Title"] = "Home Page";
   // Layout = null;
}

<div class="text-center">
    <h1 class="display-4"> ASSALAMU ALAIKUM</h1>
    <p>
       
    </p>
    <form method="post" asp-controller="Home" asp-action="Index" enctype="multipart/form-data">
        <input type="file" name="file" accept=".xls,.xlsx,.csv" id="btn-choose" />
        <textarea style="width:100%; height:600px" name="urls">
            https://www.rokomari.com/book/229493/bhinnomoter-nandonikota,
            https://www.rokomari.com/book/15991/bangali-musulmaner-mon
        </textarea>
        <button type="submit">Submit</button>
    </form>
</div>
